html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 350px;
  min-height: 500px;
  background-color: #252525;
  overflow-x: hidden;
  color: #fff;
}

#navbarwrap {
  z-index: 10;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 0, 0, 0.6);
  border-color: #252525;
}

.form-control {
  background-color: rgba(0, 0, 0, 0);
  border-color: #252525;
}

.selectable {
  color: "#252525";
}

.selectable:visited {
  color: "#252525";
}

.selectable:hover {
  color: "#7a7a7a";
}

/* SCROLLBAR STYLES */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

/*############ Chat list #############*/
.chatListElemClass:hover {
  background-color: #f5f4f4;
  cursor: pointer;
}

.hovarable:hover {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

/*Facebook and Gmail login*/

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}

.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.greyButton {
  color: #7a7a7a;
}

.hoverRed:hover {
  color: #e8232d !important;
  border-color: #e8232d;
}

.hoverBlack:hover {
  color: #252525 !important;
  border-color: #252525;
}

.hoverBlack {
  color: #7a7a7a !important;
  border-color: #7a7a7a;
}

.uploadPic {
  border: 2px dashed #7a7a7a;
}

.uploadPic:hover {
  border: 2px dashed #e8232d;
}

body .modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  padding: 0 20px;
}

body .modalBody {
  background-color: #fff;
  border-radius: 5px;
  min-width: 100px;
  margin: 50px auto;
  padding: 20px;
}

@media only screen and (max-width: 468px) {
  body .modalBody {
    margin: 10px auto;
    top: 0px;
    left: 10px;
    right: 10px;
    padding: 10px;
  }
}

textarea:focus,
input:focus,
.uneditable-input:focus {
  border-color: rgba(223, 24, 44, 0.8) !important;
  box-shadow: 0 1px 1px rgba(223, 24, 44, 0.075) inset,
    0 0 8px rgba(223, 24, 44, 0.6) !important;
  outline: 0 none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* React Tags */

/* Styles for the input */
div.ReactTags__tagInput {
  width: 100%;
  border-radius: 2px;
  display: inline-block;
  border-color: #7a7a7a;
  color: #7a7a7a;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
  color: #7a7a7a;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #252525;
  border: 1px solid rgba(0, 252, 219, 1)
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: rgba(0, 252, 219, 1);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: rgba(0, 252, 219, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}